<form class="box" action="/stations/{{currentStation.id}}/addRecord" method="POST" name="form" onsubmit="return validateForm()">
  <label>Enter new record:</label>
  <div class="field is-horizontal">
    <div class="field-body" >
      {{!-- <div class="field">
        <input class="input" type="number" placeholder="Code" name="code">
      </div> --}}
        <div class="select field" placeholder="Code" >
        <select class="input" type="number" placeholder="Code" name="code">
          {{#each codesList}}
          <p>{{code}}</p>
          {{/each}}
          <option></option>
          {{#each codesList}}
          <option>{{code}}</option>
          {{/each}}
        </select>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Temperature" name="temperature" min="-100" max="70">
      </div>
      <div class="field">
       <input class="input" type="number" placeholder="Wind speed" name="wind_speed" min="0" max="999">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Wind direction" name="wind_direction" min="0" max="360">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Pressure" name="pressure" min="750" max="1200">
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit record</button>
</form>
<div class="box">
  <a href="/stations/{{currentStation.id}}/requestData"><button class="button is-primary">Request data</button></a>
</div>


{{!-- https://stackoverflow.com/questions/3937513/javascript-validation-for-empty-input-field --}}
{{!-- TODO: add data validation (min - max etc.) --}}
<script type="text/javascript">
  function validateForm() {
    const form = "form";
    var a = document.forms[form]["temperature"].value;
    var b = document.forms[form]["wind_speed"].value;
    var c = document.forms[form]["wind_direction"].value;
    var d = document.forms[form]["pressure"].value;
    var e = document.forms[form]["code"].value;
    if  ((a == null || a == "") || 
        (b == null || b == "") ||
        (c == null || c == "") ||
        (d == null || d == "") ||
        (e == null || e == "")) {
      alert("Please Fill In All Fields");
      return false;
    }
  }
</script>