<tr class="field">
  <form action="/stations/editStation/false" method="POST">
    <td><input class="input" type="text" placeholder="Name" name="name"></td>
    <td><input class="input" type="text" placeholder="City" name="city"></td>
    <td> <input class="input" type="text" placeholder="County" name="county"></td>
    <td><input class="input" type="number" placeholder="Latitude" name="latitude"></td>
    <td><input class="input" type="number" placeholder="Longtitude" name="longitude"></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button class="button is-primary">OK</button></div>
    </td>
    <td><button class="button is-secondary">X</button></td>
  </form>
</tr>

{{!-- TODO: cancel button fix --}}