<form class="box" action="/dashboard/submitStationData" method="POST">
  <label>Enter Station Data:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="City" name="city">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="County" name="county">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit station data</button>
</form>