<form class="box" action="/dashboard/submitData" method="POST">
  <label>Enter Weather Data:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Temperature" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Wind speed" name="wind_speed">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Wind direction" name="wind_direction">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Pressure" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Submit weather data</button>
</form>