  {{!-- <link rel="stylesheet" href="/test.css" /> --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.umd.min.js"></script>
  <link href="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.css" rel="stylesheet" />
  <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v4.1.0/leaflet-maptilersdk.umd.min.js"></script>
  <!-- Leaflet.MarkerCluster -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css' rel='stylesheet' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css' rel='stylesheet' />
  <style>
#map {position: relative; top: 0; right: 0; bottom: 0; left: 0; height: 40vh; margin-bottom: 2rem;} 
 /* I found it in one of those css above ^__^ */
  </style>

	<div id="map"></div>

<script>
  window.MAP_API_KEY = "{{MAP_API_KEY}}";
</script>
<script type="module"  src="/models/map.js"></script>
	{{!-- <script src="/models/map.js"></script> --}}