{{>page/menu active="about"}}
<section class="box is-2 p-5 has-text-centered">
  <h3 class="title">
    {{title}}
  </h3>
  <div class="section">
    <p>
      {{message}}    
    </p>
      Please visit <a href="https://github.com/KorneAlex/OleksandrKorniienko_assessment_3_web"><strong>GitHub page</strong></a> for more information
  </div>
</section>
{{>page/footer}}