{{>page/menu active="about"}}
<section class="box is-3 has-text-centered">
  <h3 class="title">
    {{title}}
  </h3>
  <div class="section">
    <p>
      {{message}}    
    </p>
  </div>
</section>
{{>page/footer}}