{{>page/menu active="dashboard"}}
{{#if MAP_API_KEY}}
{{>map}}
{{else}}
{{>warning/apiWarning}}
{{/if}}
{{#if stationsExist}}
{{>station-tiles}}
  <a class="button is-fullwidth is-primary" href="/stations/requestRecordsForAllStations">Request data for all stations</a>
{{>station-list}}
{{/if}}
{{#if userIsAdmin}}
{{>add-station}}
{{#if deletedStationsExist}}
{{>station-list-deleted}}
{{/if}}
{{/if}}
{{>page/footer}}

{{!-- TODO: make station list and deleted list minimisable --}}