{{>page/menu active="dashboard"}}
{{#if MAP_API_KEY}}
{{>map}}
{{else}}
<div class="is-flex is-flex-direction-column is-justify-content-center	is-align-items-center" style="height: 40vh" role="alert">
    <h4 class="alert-heading">Map API Key Missing</h4>
    <p class="p-2">Please set the <code>MapTiles API Key</code> environment variable to use the map features.</p>
    <a href="/account" class="button is-primary">Go to account settings</a>
</div>
{{/if}}

{{#if stationsExist}}
{{#each activeStationsData}}
{{>station-summary-dashboard}}
{{/each}}
{{>station-list}}
{{/if}}
    {{#if userIsAdmin}}
    {{>add-station}}
        {{#if deletedStationsExist}}
            {{>station-list-deleted}}
        {{/if}}
    {{/if}}
{{>page/footer}}