{{>page/menu active="station"}}
  <div style="text-align: center; margin-bottom: 2rem;">
    <div class="title is-2 p-5">Station {{currentStation.name}}</div>
    </div>
<div>
{{#if activeRecordsExist}}
{{>station-summary}}
{{>chart}}
{{>add-record}}
{{>records-list}}

{{else}}
{{>add-record}}
{{/if}}

{{#if userIsAdmin}}
  {{#if deletedRecordsByStationIdExist}}
  {{>records-list-deleted}}
  {{/if}}
{{else}}
  {{#if deletedRecordsDataByUserId}}
  {{>records-list-deleted}}
  {{/if}}
{{/if}}


</div>
{{>page/footer}}

{{!-- TODO: buttons and info for admin --}}