{{>page/menu active="station"}}
  <div style="text-align: center; margin-bottom: 2rem;">
    <div class="title is-4">Station {{currentStation.name}}</div>
    </div>
{{#if activeRecordsExist}}
{{>station-summary}}
{{>records-list}}
{{/if}}
{{>add-record}}
{{#if deletedRecordsByStationIdExist}}
{{>records-list-deleted}}
{{/if}}
{{>page/footer}}