<nav class="navbar mb-6 is-align-items-baseline">
  <div class="navbar-brand">
    {{>page/brand}}
  </div>
   <span id="locationStatus"></span>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if userLoggedIn}}
              <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
              {{#if userIsAdmin}}
                  <a id="logs" class="button" href="/logs">Logs </a>
              {{/if}}
              <a id="account" class="button" href="/account"> Account </a>
              <a id="about" class="button" href="/about"> About </a>
              <a id="logout" class="button" href="/logout"> Logout </a>
          {{else}}
              <a id="about" class="button" href="/about"> About </a>
              <a id="login" class="button" href="/login"> Login </a>
              <a id="signup" class="button" href="/signup"> Sign Up </a>
          {{/if}}
          <a id="test" class="button" href="/test"> Test </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  try { document.getElementById("{{active}}").classList.add("is-primary"); } catch { console.log("menu: no active menu")}
  {{#if stationView}}
  try { document.getElementById("locationStatus").innerHTML = `in {{currentWeatherConditions.friendlyStatus}} {{currentStation.location}}`; } catch { console.log("menu.hbs: no location")}
  {{/if}}
</script>