<nav class="navbar mb-6">
  <div class="navbar-brand">
    {{>page/brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="about" class="button" href="/about"> About </a>
          <a id="login" class="button" href="/login"> Login </a>
          <a id="signup" class="button" href="/signup"> Sign Up </a>
          <a id="test" class="button" href="/test"> Test </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  try { document.getElementById("{{active}}").classList.add("is-primary"); } catch { console.log("welcome-menu: no active menu")}
</script>
